server/nodered/flow-glp.json
[
  { "id": "tab-glp", "type": "tab", "label": "Detector GLP", "disabled": false, "info": "Flujo del nodo de deteccion de fuga de GLP: MQTT -> InfluxDB + dashboard." },

  { "id": "brk-mosq", "type": "mqtt-broker", "name": "Mosquitto", "broker": "mosquitto", "port": "1883", "clientid": "nodered-glp", "autoConnect": true, "usetls": false, "protocolVersion": "4", "keepalive": "60", "cleansession": true, "birthTopic": "", "birthQos": "0", "birthPayload": "", "closeTopic": "", "closePayload": "", "willTopic": "", "willQos": "0", "willPayload": "" },
  { "id": "idb-conf", "type": "influxdb", "hostname": "127.0.0.1", "port": 8086, "protocol": "http", "database": "gas", "name": "InfluxDB", "usetls": false, "influxdbVersion": "2.0", "url": "http://influxdb:8086", "rejectUnauthorized": true },

  { "id": "ui-tab", "type": "ui_tab", "name": "GLP", "icon": "dashboard", "order": 1, "disabled": false, "hidden": false },
  { "id": "ui-g1", "type": "ui_group", "name": "Monitoreo", "tab": "ui-tab", "order": 1, "disp": true, "width": "6", "collapse": false },
  { "id": "ui-g2", "type": "ui_group", "name": "Estado y Alarmas", "tab": "ui-tab", "order": 2, "disp": true, "width": "6", "collapse": false },
  { "id": "ui-g3", "type": "ui_group", "name": "Senal WiFi / Diagnostico", "tab": "ui-tab", "order": 3, "disp": true, "width": "6", "collapse": false },

  { "id": "mq-tel", "type": "mqtt in", "z": "tab-glp", "name": "telemetria (QoS0)", "topic": "gas/nodo1/telemetria", "qos": "0", "datatype": "utf8", "broker": "brk-mosq", "x": 150, "y": 100, "wires": [["js-tel"]] },
  { "id": "js-tel", "type": "json", "z": "tab-glp", "name": "", "property": "payload", "action": "obj", "pretty": false, "x": 330, "y": 100, "wires": [["fn-tel-num", "fn-tel-inf", "fn-tel-estado", "fn-tel-rssi", "fn-tel-max"]] },

  { "id": "fn-tel-num", "type": "function", "z": "tab-glp", "name": "ppm -> valor", "func": "msg.payload = msg.payload.ppm;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 520, "y": 60, "wires": [["ui-gauge", "ui-chart"]] },
  { "id": "ui-gauge", "type": "ui_gauge", "z": "tab-glp", "name": "", "group": "ui-g1", "order": 1, "width": "6", "height": "4", "gtype": "gage", "title": "GLP", "label": "ppm", "format": "{{value}}", "min": "0", "max": "100", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "30", "seg2": "40", "x": 730, "y": 40, "wires": [] },
  { "id": "ui-chart", "type": "ui_chart", "z": "tab-glp", "name": "Historial ppm", "group": "ui-g1", "order": 2, "width": "6", "height": "4", "label": "ppm", "chartType": "line", "legend": "false", "xformat": "HH:mm:ss", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "0", "ymax": "", "removeOlder": "1", "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "colors": ["#1f77b4"], "x": 730, "y": 80, "wires": [[]] },

  { "id": "fn-tel-inf", "type": "function", "z": "tab-glp", "name": "punto InfluxDB", "func": "msg.payload = { ppm: msg.payload.ppm, rssi: msg.payload.rssi };\nreturn msg;", "outputs": 1, "noerr": 0, "x": 530, "y": 120, "wires": [["idb-tel"]] },
  { "id": "idb-tel", "type": "influxdb out", "z": "tab-glp", "influxdb": "idb-conf", "name": "telemetria", "measurement": "telemetria", "precision": "", "retentionPolicy": "", "database": "gas", "precisionV18FluxV20": "ms", "retentionPolicyV18Flux": "", "org": "unmsm", "bucket": "gas", "x": 740, "y": 120, "wires": [] },

  { "id": "fn-tel-estado", "type": "function", "z": "tab-glp", "name": "estado actual", "func": "msg.payload = msg.payload.estado;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 525, "y": 160, "wires": [["ui-estado"]] },
  { "id": "ui-estado", "type": "ui_text", "z": "tab-glp", "group": "ui-g2", "order": 1, "width": "6", "height": "1", "name": "", "label": "Estado actual", "format": "{{msg.payload}}", "layout": "row-spread", "x": 730, "y": 160, "wires": [] },

  { "id": "fn-tel-rssi", "type": "function", "z": "tab-glp", "name": "rssi", "func": "msg.payload = msg.payload.rssi;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 510, "y": 200, "wires": [["ui-rssi", "ui-rssi-chart"]] },
  { "id": "ui-rssi", "type": "ui_gauge", "z": "tab-glp", "name": "Senal WiFi", "group": "ui-g3", "order": 1, "width": "6", "height": "4", "gtype": "gage", "title": "Senal WiFi", "label": "dBm", "format": "{{value}}", "min": "-100", "max": "-30", "colors": ["#ca3838", "#e6e600", "#00b500"], "seg1": "-80", "seg2": "-60", "x": 720, "y": 200, "wires": [] },
  { "id": "ui-rssi-chart", "type": "ui_chart", "z": "tab-glp", "name": "Historial senal", "group": "ui-g3", "order": 2, "width": "6", "height": "4", "label": "dBm", "chartType": "line", "legend": "false", "xformat": "HH:mm:ss", "interpolate": "linear", "nodata": "", "dot": false, "ymin": "-100", "ymax": "-30", "removeOlder": "1", "removeOlderPoints": "", "removeOlderUnit": "3600", "cutout": 0, "useOneColor": false, "colors": ["#2c8f6e"], "x": 730, "y": 240, "wires": [[]] },

  { "id": "fn-tel-max", "type": "function", "z": "tab-glp", "name": "ppm maximo", "func": "var m = flow.get('maxppm') || 0;\nif (msg.payload.ppm > m) { m = msg.payload.ppm; flow.set('maxppm', m); }\nmsg.payload = m;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 525, "y": 280, "wires": [["ui-maxppm"]] },
  { "id": "ui-maxppm", "type": "ui_text", "z": "tab-glp", "group": "ui-g1", "order": 3, "width": "6", "height": "1", "name": "", "label": "ppm maximo", "format": "{{msg.payload}} ppm", "layout": "row-spread", "x": 730, "y": 280, "wires": [] },

  { "id": "mq-alr", "type": "mqtt in", "z": "tab-glp", "name": "alarma (QoS1)", "topic": "gas/nodo1/alarma", "qos": "1", "datatype": "utf8", "broker": "brk-mosq", "x": 140, "y": 400, "wires": [["js-alr"]] },
  { "id": "js-alr", "type": "json", "z": "tab-glp", "name": "", "property": "payload", "action": "obj", "pretty": false, "x": 330, "y": 400, "wires": [["fn-alr-inf", "fn-alr-txt", "fn-ntfy"]] },
  { "id": "fn-alr-inf", "type": "function", "z": "tab-glp", "name": "punto InfluxDB", "func": "msg.payload = { alarma: msg.payload.alarma ? 1 : 0, ppm: msg.payload.ppm };\nreturn msg;", "outputs": 1, "noerr": 0, "x": 530, "y": 370, "wires": [["idb-alr"]] },
  { "id": "idb-alr", "type": "influxdb out", "z": "tab-glp", "influxdb": "idb-conf", "name": "alarma", "measurement": "alarma", "precision": "", "retentionPolicy": "", "database": "gas", "precisionV18FluxV20": "ms", "retentionPolicyV18Flux": "", "org": "unmsm", "bucket": "gas", "x": 730, "y": 370, "wires": [] },
  { "id": "fn-alr-txt", "type": "function", "z": "tab-glp", "name": "texto alarma", "func": "msg.payload = msg.payload.alarma ? ('ALARMA - ' + msg.payload.ppm + ' ppm') : 'Sin alarma';\nreturn msg;", "outputs": 1, "noerr": 0, "x": 520, "y": 430, "wires": [["ui-alr"]] },
  { "id": "ui-alr", "type": "ui_text", "z": "tab-glp", "group": "ui-g2", "order": 3, "width": "6", "height": "1", "name": "", "label": "Ultima alarma", "format": "{{msg.payload}}", "layout": "row-spread", "x": 730, "y": 430, "wires": [] },

  { "id": "fn-ntfy", "type": "function", "z": "tab-glp", "name": "arma push ntfy", "func": "if (msg.payload.alarma) {\n  var ppm = msg.payload.ppm;\n  msg.headers = { \"Title\": \"Detector de GLP\", \"Priority\": \"urgent\", \"Tags\": \"rotating_light,fire\" };\n  msg.payload = \"ALERTA: Fuga de gas detectada - corte automatico activado (\" + ppm + \" ppm)\";\n  return msg;\n}\nreturn null;", "outputs": 1, "noerr": 0, "x": 520, "y": 470, "wires": [["ntfy-req"]] },
  { "id": "ntfy-req", "type": "http request", "z": "tab-glp", "name": "ntfy push", "method": "POST", "ret": "txt", "paytoqs": "ignore", "url": "https://ntfy.sh/glp-detector-shamir-k7m2x9", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 720, "y": 470, "wires": [["dbg-ntfy"]] },
  { "id": "dbg-ntfy", "type": "debug", "z": "tab-glp", "name": "ntfy resp", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "payload", "targetType": "msg", "x": 900, "y": 470, "wires": [] },

  { "id": "mq-est", "type": "mqtt in", "z": "tab-glp", "name": "estado / LWT (QoS1)", "topic": "gas/nodo1/estado", "qos": "1", "datatype": "utf8", "broker": "brk-mosq", "x": 160, "y": 540, "wires": [["ui-est", "dbg-est"]] },
  { "id": "ui-est", "type": "ui_text", "z": "tab-glp", "group": "ui-g2", "order": 2, "width": "6", "height": "1", "name": "", "label": "Estado nodo", "format": "{{msg.payload}}", "layout": "row-spread", "x": 390, "y": 520, "wires": [] },
  { "id": "dbg-est", "type": "debug", "z": "tab-glp", "name": "estado", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "payload", "targetType": "msg", "x": 390, "y": 570, "wires": [] }
]
